$color-1: #45a3d9; // Carolina Blue
$color-2: #040f0f; // Rich Black
$color-3: #946846; // Liver Chestnut
$color-4: #4e6d7e; // Dark Electric Blue
$color-5: #efd6ac; // Wheat

// additional colors

$success: #6fce72; // green
$alert: #ff0000; // red