@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Texturina&display=swap");
header {
  text-align: center;
}
@media only screen and (min-width: 52em) {
  header h1 {
    text-align: left;
    padding-left: 15%;
    font-size: 3em;
    margin-top: 3%;
  }
  header h2 {
    text-align: left;
    padding-left: 25%;
    margin-bottom: 35.5em;
    font-size: 2em;
  }
}
@media only screen and (min-width: 52em) and (min-width: 60em) {
  header h2 {
    margin-bottom: 27.5em;
  }
}

.summary {
  margin-left: auto;
  margin-right: auto;
  max-width: 12em;
  padding: 1em;
  margin-bottom: 76.5em;
}
@media only screen and (min-width: 43em) {
  .summary {
    margin-bottom: 60em;
  }
}
@media only screen and (min-width: 52em) {
  .summary {
    position: absolute;
    right: 2%;
    top: 2%;
  }
}

.intro {
  position: relative;
}

.design-selection {
  position: absolute;
  top: 21.25em;
  max-width: 100em;
  width: 100%;
  text-align: center;
}

.design-selection nav ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(5em, 1fr));
  padding: 1em;
  column-gap: 1.5em;
  row-gap: 1em;
  justify-content: center;
  list-style-type: none;
}
@media only screen and (min-width: 43em) {
  .design-selection nav ul {
    grid-template-columns: repeat(3, minmax(10em, 1fr));
  }
}
@media only screen and (min-width: 60em) {
  .design-selection nav ul {
    grid-template-columns: repeat(4, minmax(10em, 15em));
  }
}
.design-selection nav ul li {
  border: solid 1px black;
  padding: 1em;
  height: 13em;
  color: white;
  background-color: black;
}
.design-selection nav ul li a {
  color: white;
  text-decoration: none;
}

.design-archives {
  top: 91.5em;
  position: absolute;
  max-width: 100em;
  width: 100%;
  text-align: center;
}
.design-archives nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.design-archives nav ul li a {
  color: black;
  padding: 1em;
}
@media only screen and (min-width: 43em) {
  .design-archives {
    top: 75em;
  }
}
@media only screen and (min-width: 60em) {
  .design-archives {
    top: 59em;
  }
}

.explanation, .benefits, .participation::after {
  background-color: #946846;
}
@media only screen and (min-width: 43em) {
  .explanation, .benefits, .participation::after {
    float: right;
    width: 50%;
    content: "";
    clear: both;
    display: table;
  }
}

.participation, .explanation::after, .preamble, .requirements h3:nth-of-type(1), .requirements p:nth-of-type(1), .requirements p:nth-of-type(2), .requirements p:nth-of-type(3), .requirements p:nth-of-type(4) {
  background-color: #946846;
}
@media only screen and (min-width: 43em) {
  .participation, .explanation::after, .preamble, .requirements h3:nth-of-type(1), .requirements p:nth-of-type(1), .requirements p:nth-of-type(2), .requirements p:nth-of-type(3), .requirements p:nth-of-type(4) {
    float: left;
    width: 50%;
    content: "";
    clear: both;
    display: table;
  }
}

.requirements {
  background-color: #946846;
}

@media only screen and (min-width: 43em) {
  .main {
    background-color: #946846;
  }
}

.requirements p:last-of-type {
  width: 100%;
  text-align: center;
  content: "";
  clear: both;
  display: table;
}

footer a {
  height: 4em;
  width: 4em;
  border-radius: 6em;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
  line-height: 4em;
}

footer {
  position: relative;
  top: 25em;
  display: flex;
  width: 51%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  padding-bottom: 1em;
}

h1,
h2,
h3 {
  font-family: "Texturina", serif;
}

p,
a {
  font-family: "Shadows Into Light", sans-serif;
}

body, footer {
  background-color: #efd6ac;
}

.zen-resources {
  margin-right: auto;
  margin-left: auto;
  max-width: 12em;
  padding: 1em;
  background-color: gray;
}

.preamble {
  background-color: #946846;
}

body {
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
