@import "partials/layout";
@import "partials/header";
@import "partials/summary";
@import "partials/sidebar";
@import "partials/main-grid";
@import "partials/footer";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Texturina&display=swap");

h1,
h2,
h3 {
  font-family: "Texturina", serif;
}
p,
a {
  font-family: "Shadows Into Light", sans-serif;
}
body {
  background-color: #efd6ac;
}
.zen-resources {
  margin-left: auto;
  margin-right: auto;
  max-width: 12em;
  padding: 1em;
  background-color: gray;
}
.requirements p:last-of-type {
  position: relative;
  top: 23em;
  padding-top: 10px;
  display: block;
  text-align: center;
}

.preamble,
.main {
  background-color: #946846;
}



body {
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
}

/* Small size screen*/
@media screen and (max-width: 414px) and (min-width: 300px) {

  .design-selection {
    display: grid;
    grid-template-columns: repeat(1, minmax(5em, 1fr));
  }
  .requirements p:last-of-type {
    position: relative;
    top: 40em;
    padding-top: 10px;
    display: grid;
  }
}
