@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Texturina&display=swap");
header {
  text-align: center;
  transition: 1s;
}
@media only screen and (min-width: 52em) {
  header h1 {
    text-align: left;
    padding-left: 10%;
    font-size: 3em;
    margin-top: 3%;
    transition: 1s;
  }
  header h2 {
    text-align: left;
    padding-left: 20%;
    font-size: 2em;
    /*this keeps the main area below the flags after the compass rose jumps to the side*/
  }
}
@media only screen and (min-width: 52em) and (min-width: 60em) {
  header h2 {
    margin-bottom: 47em;
  }
}

.summary::before {
  content: url(svg/compass-rose.svg);
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  width: 100%;
  min-width: 23em;
  max-width: 25em;
  grid-area: 1/1/5/2;
  transition: 1s;
}

.summary {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 8em auto 5em;
  text-align: center;
  transition: 1s;
  /*this keeps the main area below the archives*/
  margin-bottom: 85em;
  /*This bit keeps the main grid area below the flags*/
}
.summary p:nth-of-type(1) {
  grid-area: 2/1/3/2;
  width: 11em;
  margin-right: auto;
  margin-left: auto;
}
.summary p:nth-of-type(2) {
  grid-area: 3/1/4/2;
  width: 11em;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 20em) {
  .summary {
    margin-bottom: 92em;
  }
}
@media only screen and (min-width: 43em) {
  .summary {
    margin-bottom: 78em;
  }
}
@media only screen and (min-width: 52em) {
  .summary {
    margin-bottom: 80em;
  }
}
@media only screen and (min-width: 60em) {
  .summary {
    position: absolute;
    right: 5%;
    top: 2%;
  }
}

.intro {
  position: relative;
  transition: 1s;
}

.design-selection {
  position: absolute;
  top: 33em;
  max-width: 80em;
  width: 100%;
  text-align: center;
  transition: 1s;
}
@media only screen and (min-width: 52em) {
  .design-selection {
    top: 38em;
  }
}
@media only screen and (min-width: 60em) {
  .design-selection {
    top: 28em;
  }
}

.design-selection nav ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(5em, 1fr));
  padding: 1em;
  column-gap: 1.5em;
  row-gap: 1em;
  justify-content: center;
  list-style-type: none;
  transition: 1s;
  position: relative;
  justify-items: center;
}
@media only screen and (min-width: 43em) {
  .design-selection nav ul {
    grid-template-columns: repeat(3, minmax(10em, 1fr));
  }
}
@media only screen and (min-width: 60em) {
  .design-selection nav ul {
    grid-template-columns: repeat(4, minmax(10em, 15em));
  }
}
.design-selection nav ul li {
  color: white;
  width: 55%;
  padding-top: 6em;
  text-align: center;
  height: 8em;
}
.design-selection nav ul li a {
  color: white;
  text-decoration: none;
}
.design-selection nav ul li a::after {
  content: "\a";
  white-space: pre;
}

.design-selection li::after {
  content: url(svg/flag.svg);
  display: block;
  width: 175%;
  position: relative;
  top: -6em;
  left: -3em;
  z-index: -5;
}

.design-archives {
  top: 103em;
  position: absolute;
  max-width: 80em;
  width: 100%;
  text-align: center;
  content: "";
  clear: both;
  display: table;
  transition: 1s;
  /*This keeps the archives menu below the flags*/
}
.design-archives::after {
  content: url(svg/pirate-ship.svg);
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  animation: 5s rocking-ship linear infinite;
  animation-play-state: paused;
}
.design-archives:hover::after {
  animation-play-state: running;
}
.design-archives nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.design-archives nav ul li a {
  color: black;
  padding: 1em;
}
@media only screen and (min-width: 43em) {
  .design-archives {
    top: 86em;
  }
}
@media only screen and (min-width: 52em) {
  .design-archives {
    top: 90em;
  }
}
@media only screen and (min-width: 60em) {
  .design-archives {
    top: 65em;
  }
}

@keyframes rocking-ship {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.explanation,
.preamble,
.participation,
.benefits,
.requirements {
  background-color: #946846;
  padding: 0 1em;
}
@media only screen and (min-width: 43em) {
  .explanation,
.preamble,
.participation,
.benefits,
.requirements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
  }
}

/*explanation*/
@media only screen and (min-width: 43em) {
  .explanation::before,
.benefits::before {
    content: url(svg/island.svg);
    display: block;
    width: 100%;
    grid-area: 1/1/4/2;
    padding: 1em;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 43em) {
  .preamble::after,
.participation::after,
.requirements::after {
    content: url(svg/island.svg);
    display: block;
    width: 100%;
    grid-area: 1/2/5/3;
    padding: 1em;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 43em) {
  .requirements::after {
    content: url(svg/island-treasure.svg);
    display: block;
    width: 100%;
    grid-area: 1/2/5/3;
    padding: 1em;
    box-sizing: border-box;
  }
}

.requirements p:last-of-type {
  width: 100%;
  text-align: center;
  grid-area: 6/1/7/3;
}

.zen-resources {
  position: relative;
  text-align: center;
  width: 100%;
  transition: 1s;
}
.zen-resources h3 {
  margin-top: 2em;
}
.zen-resources h3,
.zen-resources ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: 1s;
}
@media only screen and (min-width: 43em) {
  .zen-resources h3,
.zen-resources ul {
    margin-left: 25%;
  }
}
@media only screen and (min-width: 60em) {
  .zen-resources h3,
.zen-resources ul {
    margin-left: 60%;
  }
}
.zen-resources li a {
  text-decoration: none;
}
.zen-resources::after {
  content: url(svg/small-smoke.svg);
  display: block;
  position: absolute;
  width: 100%;
  top: -6em;
  z-index: -5;
  max-width: 35em;
  transition: 1s;
}
@media only screen and (min-width: 35em) {
  .zen-resources::after {
    left: 50%;
    margin-left: -17.5em;
  }
}
@media only screen and (min-width: 43em) {
  .zen-resources::after {
    content: url(svg/smoke.svg);
    width: 100%;
    top: -4em;
  }
}
@media only screen and (min-width: 60em) {
  .zen-resources::after {
    width: 50%;
    right: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 60em) {
  .zen-resources::before {
    content: url(svg/cannon.svg);
    display: block;
    position: absolute;
    width: 50%;
    top: 12em;
  }
}

footer a {
  height: 4em;
  width: 4em;
  border-radius: 6em;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
  line-height: 4em;
  transition: 1s;
}
@media only screen and (min-width: 70em) {
  footer a {
    height: 5em;
    width: 5em;
    line-height: 5em;
    transition: 1s;
  }
}

footer {
  position: relative;
  top: 25em;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  padding-bottom: 1em;
  max-width: 30em;
  transition: 1s;
}
@media only screen and (min-width: 60em) {
  footer {
    top: 35em;
    margin-right: 3em;
    transition: 1s;
  }
}
@media only screen and (min-width: 70em) {
  footer {
    top: 40em;
    margin-right: 3em;
    max-width: 40em;
    transition: 1s;
  }
}

h1,
h2,
h3 {
  font-family: "Texturina", serif;
}

p,
a {
  font-family: "Shadows Into Light", sans-serif;
}

body,
footer {
  background-color: #efd6ac;
}

.preamble {
  background-color: #946846;
}

body {
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
