@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Texturina&display=swap");
header {
  text-align: center;
}
@media only screen and (min-width: 52em) {
  header h1 {
    text-align: left;
    padding-left: 10%;
    font-size: 3em;
    margin-top: 3%;
  }
  header h2 {
    text-align: left;
    padding-left: 20%;
    font-size: 2em;
    /*this keeps the main area below the flags after the compass rose jumps to the side*/
  }
}
@media only screen and (min-width: 52em) and (min-width: 60em) {
  header h2 {
    margin-bottom: 30em;
  }
}

.summary::before {
  content: url(svg/compass-rose.svg);
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  width: 100%;
  min-width: 23em;
  max-width: 25em;
  grid-area: 1/1/5/2;
}

.summary {
  padding: 1em;
  margin-bottom: 76em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 8em auto 5em;
  text-align: center;
  /*This bit keeps the main grid area below the flags*/
}
.summary p:nth-of-type(1) {
  grid-area: 2/1/3/2;
  width: 11em;
  margin-right: auto;
  margin-left: auto;
}
.summary p:nth-of-type(2) {
  grid-area: 3/1/4/2;
  width: 11em;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 43em) {
  .summary {
    margin-bottom: 57em;
  }
}
@media only screen and (min-width: 60em) {
  .summary {
    position: absolute;
    right: 5%;
    top: 2%;
  }
}

.intro {
  position: relative;
}

.design-selection {
  position: absolute;
  top: 33em;
  max-width: 100em;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 52em) {
  .design-selection {
    top: 38em;
  }
}
@media only screen and (min-width: 60em) {
  .design-selection {
    top: 28em;
  }
}

.design-selection nav ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(5em, 1fr));
  padding: 1em;
  column-gap: 1.5em;
  row-gap: 1em;
  justify-content: center;
  list-style-type: none;
}
@media only screen and (min-width: 43em) {
  .design-selection nav ul {
    grid-template-columns: repeat(3, minmax(10em, 1fr));
  }
}
@media only screen and (min-width: 60em) {
  .design-selection nav ul {
    grid-template-columns: repeat(4, minmax(10em, 15em));
  }
}
.design-selection nav ul li {
  border: solid 1px black;
  padding: 1em;
  height: 13em;
  color: white;
  background-color: black;
}
.design-selection nav ul li a {
  color: white;
  text-decoration: none;
}

.design-archives {
  top: 103em;
  position: absolute;
  max-width: 100em;
  width: 100%;
  text-align: center;
  /*This keeps the archives menu below the flags*/
}
.design-archives nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.design-archives nav ul li a {
  color: black;
  padding: 1em;
}
@media only screen and (min-width: 43em) {
  .design-archives {
    top: 86em;
  }
}
@media only screen and (min-width: 52em) {
  .design-archives {
    top: 90em;
  }
}
@media only screen and (min-width: 60em) {
  .design-archives {
    top: 65em;
  }
}

.explanation,
.benefits,
.participation::after {
  background-color: #946846;
}
@media only screen and (min-width: 43em) {
  .explanation,
.benefits,
.participation::after {
    float: right;
    width: 50%;
    content: "";
    clear: both;
    display: table;
  }
}

.participation,
.explanation::after,
.preamble,
.requirements h3:nth-of-type(1),
.requirements p:nth-of-type(1),
.requirements p:nth-of-type(2),
.requirements p:nth-of-type(3),
.requirements p:nth-of-type(4) {
  background-color: #946846;
}
@media only screen and (min-width: 43em) {
  .participation,
.explanation::after,
.preamble,
.requirements h3:nth-of-type(1),
.requirements p:nth-of-type(1),
.requirements p:nth-of-type(2),
.requirements p:nth-of-type(3),
.requirements p:nth-of-type(4) {
    float: left;
    width: 50%;
    content: "";
    clear: both;
    display: table;
  }
}

.requirements {
  background-color: #946846;
}

@media only screen and (min-width: 43em) {
  .main {
    background-color: #946846;
  }
}

.requirements p:last-of-type {
  width: 100%;
  text-align: center;
  content: "";
  clear: both;
  display: table;
}

footer a {
  height: 4em;
  width: 4em;
  border-radius: 6em;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
  line-height: 4em;
}

footer {
  position: relative;
  top: 25em;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  padding-bottom: 1em;
  max-width: 30em;
}

h1,
h2,
h3 {
  font-family: "Texturina", serif;
}

p,
a {
  font-family: "Shadows Into Light", sans-serif;
}

body,
footer {
  background-color: #efd6ac;
}

.zen-resources {
  margin-right: auto;
  margin-left: auto;
  max-width: 12em;
  padding: 1em;
  background-color: gray;
}

.preamble {
  background-color: #946846;
}

body {
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
