@import "partials/mixins-variables";
@import "partials/layout";
@import "partials/header";
@import "partials/summary";
@import "partials/sidebar";
@import "partials/main-grid";
@import "partials/footer";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Texturina&display=swap");

h1,
h2,
h3 {
  font-family: "Texturina", serif;
}

p,
a {
  font-family: "Shadows Into Light", sans-serif;
}

body,
footer {
  background-color: #efd6ac;
}

.preamble {
  background-color: #946846;
}

body {
  max-width: $page-width;

  @include center;
}
