.design-selection {
  position: absolute;
  top: 33em;
  max-width: 100em;
  width: 100%;
  text-align: center;

  @include break(large){
    top: 38em;
  }
  @include break(flag){
    top: 28em;
  }
}

.design-selection nav ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(5em, 1fr));
  padding: 1em;
  column-gap: 1.5em;
  row-gap: 1em;
  justify-content: center;
  list-style-type: none;

  @include break(small-flag) {
    grid-template-columns: repeat(3, minmax(10em, 1fr));
  }

  @include break(flag) {
    grid-template-columns: repeat(4, minmax(10em, 15em));
  }

  li {
    border: solid 1px black;
    padding: 1em;
    height: 13em;
    color: white;
    background-color: black;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.design-archives {
  top: 103em;
  position: absolute;
  max-width: 100em;
  width: 100%;
  text-align: center;

  nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;

    li a {
      color: black;
      padding: 1em;
    }
  }

  /*This keeps the archives menu below the flags*/
  @include break(small-flag) {
    top: 86em;
  }
  
  @include break(large) {
    top: 90em;
  }
  
  @include break(flag) {
    top: 65em;
  }
}
